/data
/.vscode
/.idea

GNN_KBE/data/

GNN_KBE/\.vscode/

GNN_KBE/\.idea/

transE_KBE/\.idea/

transE_KBE/\.vscode/

transE_KBE/__pycache__/

GNN_KBE/src/result/

GNN_KBE/src/__pycache__/

GNN_KBE/src/\.vscode/

GNN_KBE/src/result_history/
